.navbar {
    background-color: white;
}

.navbar-inverse .navbar-brand {
    color: #454545;
}

.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover {
    color: #6D6D6D;
}

.navbar-inverse .navbar-nav>li>a {
    color: #5E5E5E;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    color: #9E9E9E;
}